#logo {
  font-family: 'Bungee Outline', cursive;
  text-align: center;
  margin-top: 0;
  color: #f9f9f9;
  padding-top: 0.5em;
  letter-spacing: 0.2em;
  line-height: 1.2em;
  font-weight: bold;
}

#logo span {
}

#home-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 4em;
  font-family: 'PT Sans', sans-serif;
  color: #f9f9f9;
  font-size: 1.5em;
  background: rgb(42, 42, 42); /* Fall-back for browsers that don't
                                support rgba */
  background: rgba(42, 42, 42, .7);
  width: 45%;
  letter-spacing: 0.13em;
  padding: 1em 0;
}

#home-content article span {
  color: #f9f9f9;
  opacity: 0.5;
}

#social-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2.5em;
}

#social-content img {
  margin-right: 1.3em;
  width: 2.5em;
  padding: 0.5em;
  border-radius: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#social-content img:hover {
  background-color: black;
  opacity: 0.7;
  cursor: pointer;
}

#section-intro {
  background: url("../images/intro_background.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#section-about {
  height: 100vh;
  width: 100%;
}

#section-menu {
  height: 100vh;
  width: 100%;
}

#section-find {
  height: 100vh;
  width: 100%;
}

#section-contact {
  height: 100vh;
  width: 100%;
}

#map {
  width: 50%;
  float: left;
  margin: 0 auto;
}

#map img {
  width: 60vh;
  margin-left: 1.5em;
  text-align: center;
}

#section-find > h1 {
  text-align: center;
}

.find-content {
  width: 50%;
  float: right;
  text-align: center;
}

.find-content li {
  list-style: none;
  padding: 2em;
  font-size: 1.5em;
}

iframe {
  padding-top: 20px;
  width: 600px;
  height: 550px;
}

/**** Media Queries ****/

@media (min-width: 768px) {
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }

    .navbar .navbar-collapse ul li {
      padding-right: 2em;
    }

    #logo {
      font-size: 3em;
    }
}

@media (max-width: 768px) {
  #home-content {
    width: 80%;
  }

  #social-content img {
    padding: 0;
    width: 1.5em;
  }


  iframe {
    padding-top: 20px;
    width: 350px;
    height: 300px;
  }

  #map {
    width: 100%;
  }


}
